.feed-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    background-color: #f9f9f9;
    width: 100%;
}

.post-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.post-input-container {
    display: flex;
    flex: 1;
    align-items: center;
}

.post-input {
    flex: 1;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    background-color: transparent;  /* Fundo transparente */
    outline: none;
    font-size: 18px;  /* Ajuste o tamanho da fonte se necessário */
    font-weight: 500;  /* A fonte parece um pouco mais espessa */
    color: #333;  /* Cor de texto cinza escuro */
    box-sizing: border-box;
    width: 100%;
    margin-right: 10px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    margin-right: 15px;  /* Ajustar a margem entre os ícones e o botão */
}

.icon-camera, .icon-smile {
    color: #8B0000;  /* A cor vermelha para os ícones */
    font-size: 24px;  /* Tamanho ajustado dos ícones */
    cursor: pointer;
    margin-right: 10px;  /* Espaço entre ícones */
}

.post-button {
    padding: 10px 25px;
    background-color: #8B0000;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    font-weight: 500;  /* A fonte parece um pouco mais espessa */
    font-size: 18px;  /* Ajuste o tamanho da fonte do botão */
}

.post-button:hover {
    background-color: #8B0000;  /* Uma sombra mais escura ao pairar */
}
