.feed-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: none;
    width: 700px;
}

.post-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 830px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.post-input-container {
    display: flex;
    flex: 1;
    align-items: center;
}

.post-input {
    flex: 1;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    background-color: transparent;  
    outline: none;
    font-size: 18px;  
    font-weight: 500;  
    color: #333;  
    box-sizing: border-box;
    width: 100%;
    margin-right: 10px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    margin-right: 15px;  
}

.icon-camera, .icon-smile {
    color: #8B0000;  
    font-size: 24px;  
    cursor: pointer;
    margin-right: 10px;  
}

.post-button {
    padding: 10px 25px;
    background-color: #8B0000;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    font-weight: 500;  
    font-size: 18px;  
}

.post-button:hover {
    background-color: #8B0000;  
}

