
.footer {
  width: 100%;
  height: 200px;
  background-color: #8B0000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 0;
}

.socialMedia {
  display: flex;
  gap: 15px;
}

.socialMedia span {
  cursor: pointer;
}

.footer p {
  color: white;
  text-align: center;  
}

.content-wrapper {
  margin-top: 100px; 
  margin-bottom: 200px; 
}
