.sidebar {
    width: 200px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px 30px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #8B0000;
    cursor: pointer;
    text-decoration: none; 
}

.sidebar-item svg {
    margin-right: 15px;
    color: #8B0000;
    width: 24px;
    height: 24px;
}

.sidebar-button {
    width: 100%;
    padding: 12px 0;
    background-color: #8B0000;
    border: none;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.sidebar-button:hover {
    background-color: #8B0000;
}